{% extends "ProyectoApp/base.html" %}
{% block content %}
  <h1>Registrar Entidad</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
<br><br>
  <h2>Entidades Registradas:</h2>
  <ul>
    {% for entidad in entidades %}
      <li>{{ entidad.razon_social }}</li>
      <a href="{% url 'registrar_sede' entidad.id %}" class="btn btn-primary">Registrar Nueva Sede</a>
    {% endfor %}
  </ul>
{% endblock %}
