{% extends "ProyectoApp/app.html" %}
{% load static %}
{% load tz %}
{% block title %} Listado de visitas {% endblock %}
{% block custom_css %}

{% endblock %}
{% block breadcrumb %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Visitas al Espacio Obligado</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'Dash' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'listar_espacios_obligados_certificante' %}">Listado de
                            espacios</a></li>
                    <li class="breadcrumb-item active">Listado de Visitas</li>
                </ol>
            </div>
        </div>
    </div>
</section>
{% endblock breadcrumb %}

{% block content %}
<div class="container-fluid">
    {% if visitas %}
    <!-- Timelime example  -->
    <div class="row">
        <div class="col-md-12">
            <!-- The time line -->
            <div class="timeline">
                {% for visita in visitas %}
                <!-- timeline time label -->
                <div class="time-label">
                    <span class="bg-red">{{ visita.fecha_hora|date:"d-m-Y" }}</span>
                </div>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <div>
                    <i class="fas fa-envelope bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fas fa-clock"></i>
                            {{ visita.fecha_hora|timezone:"America/Argentina/Buenos_Aires"|time:"H:i" }}
                        </span>
                        <h3 class="timeline-header">{{ visita.resultado|upper }}</h3>

                        <div class="timeline-body">
                            {{ visita.observaciones }}
                        </div>
                        <div class="timeline-footer">
                            <form method="post" action="{% url 'eliminar_visita' visita_id=visita.id %}">
                                {% csrf_token %}
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#confirmModal">
                                    Eliminar
                                </button>

                                <!-- Modal de Confirmación -->
                                <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
                                    aria-labelledby="confirmModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="confirmModalLabel">Confirmar Eliminación
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Cerrar">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Estás seguro de que deseas eliminar esta visita?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                {% endfor %}
                <!-- END timeline item -->
                <!-- timeline item -->
                <div>
                    <i class="fas fa-clock bg-gray"></i>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissible">
                <h5><i class="icon fas fa-info"></i> No hay visitas registradas</h5>
                No se encontraron visitas registradas para este espacio obligado.
            </div>
        </div>
    </div>
    {% endif %}
</div>
<!-- /.timeline -->
{% endblock %}