{% extends "ProyectoApp/auth/auth.html" %}

{% load static %}{% load crispy_forms_tags %}

{% block title %} Ingresar {% endblock title %} 

{% block content %}

{{ block.super }}

<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Inicia sesión para comenzar</p>

        <form id="login-form" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <!-- {{ form.email }} -->
                <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" class="form-control" placeholder="Correo electrónico" {% if form.email.value != None %} value="{{ form.email.value }}" {% endif %}>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block mb-2">
                        Restablecer contraseña
                    </button>
                    
                    <a href="/" type="button" class="btn btn-default btn-block mt-2">Volver</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %} 

{% block custom_js %}
{% endblock custom_js %}
