<li class="nav-item">
    <a href="{% url 'Dash' %}" class="nav-link {% if request.path == '/dash' %} active {%endif %}">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
    </a>
</li>
{% if user.tipo_usuario == 'representante' %}
<li class="nav-item">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>
        Espacios Obligados
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'registrar_entidad' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Solicitar Autorización</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'listar_mis_entidades_sedes' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Mis Espacios Obligados</p>
        </a>
      </li>
    </ul>
</li>
{% endif %}
{% if user.tipo_usuario == 'admin_provincial' %}
        <li class="nav-item {% if request.path == '/usuarios/#/' %}current_page_item{%endif %}">
          <a class="nav-link" href="{% url 'inicioAdminProvincial' %}" >Administrador Provincial</a>
        </li>
{% endif %}