{% extends "ProyectoApp/base.html" %}
{% block content %}
<h1>Lista de mis Entidades-Sedes</h1>
    <ul>
        {% for espacio in entidades_sedes %}
            <li>{{ espacio.nombre }}</li>
            <a href="{% url 'administrar_entidad_sede' espacio.id %}" class="btn btn-primary">Administrar</a>
            <a href="{% url 'registrar_responsable' espacio.id %}" class="btn btn-primary">Registrar Responsable</a>
            <a href="{% url 'listar_responsables' espacio.id %}" class="btn btn-primary">Listar Responsables</a>
        {% endfor %}
    </ul>
{% endblock %}