{% extends "ProyectoApp/base.html" %}
{% block content %}

<h1>Solicitar Aprobación</h1>

<form method="post" id="solicitudForm">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar Solicitud</button>
</form>

{% if show_alert %}
    <script>
        alert("Ya has solicitado para esta entidad y sede.");
        window.location.href = "/dash";
    </script>
{% endif %}

{% if show_submit_alert %}
    <script>
        //entra porque sí 
        document.getElementById("solicitudForm").addEventListener("submit", function(event) {
            event.preventDefault(); 
            alert("La solicitud se envió correctamente.");
            this.submit();
        });
    </script>
{% endif %}

{% endblock %}